<div class="container">
  <h1>Item List Cart</h1>
</div>
<br>
<div class="row">
  <div class="col-lg-6">
    <div class="container">
      <form [formGroup]="newItem" (ngSubmit)="submitItem()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Items</label>
              <select class="custom-select dropdown" formControlName="name">
                <option value="" disabled selected>Choose your option</option>
                <option *ngFor="let item of itemList; let indexvar = index" type="button"
                        [class.active]="indexvar == currentIndex" (click)="setActiveItem(item, indexvar)">
                 {{item.name}}
                </option>
              </select>
<!--              <div class="dropdown">-->
<!--                <button class="btn btn-outline-secondary dropdown-toggle" formControlName="name" type="button"-->
<!--                        id="dropdownMenuButton" data-toggle="dropdown"-->
<!--                        aria-haspopup="true" aria-expanded="false">-->
<!--                  Select an item from the list.-->
<!--                </button>-->
<!--                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->
<!--                  <a class="dropdown-item" *ngFor="let item of itemList; let indexvar = index"-->
<!--                     [class.active]="indexvar == currentIndex"-->
<!--                     (click)="setActiveItem(item, indexvar)">{{item.name}}</a>-->
<!--                </div>-->
<!--              </div>-->
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input
                required
                class="form-control"
                type="number"
                id="quantity"
                formControlName="quantity"
                [class.is-invalid]="quantity.invalid && (quantity.dirty || quantity.touched)"
              >
              <div *ngIf="(quantity.invalid && quantity.touched) || quantity.dirty">
                <small *ngIf="quantity.errors?.required" class="text-danger">Quantity is required.</small>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">
          Add Item
        </button>
      </form>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="form-group">
      <div class="card">
        <div class="card-header">Display the Item and Quantity</div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <label class="lead">Name:</label>
                <p><em>{{ itemName }}</em></p>
              </div>
              <div class="col-sm">
                <label class=" lead">Quantity:</label>
                <p><em>{{ itemQuantity }}</em></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div *ngIf="currentItem" class="container">
  <div class="card">
    <h3 class="card-header">Details of the Item</h3>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3 lead"><strong>Name:</strong></dt>
        <dd class="col-sm-3"><em>{{currentItem.name}}</em></dd>
        <dt class="col-sm-3 lead"><strong>Description:</strong></dt>
        <dd class="col-sm-3"><em>{{currentItem.description}}</em></dd>
        <dt class="col-sm-3 lead"><strong>Brand:</strong></dt>
        <dd class="col-sm-3"><em>{{currentItem.brand}}</em></dd>
        <dt class="col-sm-3 lead"><strong>Unit:</strong></dt>
        <dd class="col-sm-3"><em>{{currentItem.unit}}</em></dd>
        <dt class="col-sm-3 lead"><strong>Group:</strong></dt>
        <dd class="col-sm-3"><em>{{currentItem.group}}</em></dd>
        <dt class="col-sm-3 lead"><strong>Location:</strong></dt>
        <dd class="col-sm-3"><em>{{currentItem.location}}</em></dd>
        <dt class="col-sm-3 lead"><strong>Warehouse:</strong></dt>
        <dd class="col-sm-3"><em>{{currentItem.warehouse}}</em></dd>
        <dt class="col-sm-3 lead"><strong>Min:</strong></dt>
        <dd class="col-sm-3"><em>{{currentItem.min}}</em></dd>
        <dt class="col-sm-3 lead"><strong>Max:</strong></dt>
        <dd class="col-sm-3"><em>{{currentItem.max}}</em></dd>
        <dt class="col-sm-3 lead"><strong>Reorder Point:</strong></dt>
        <dd class="col-sm-3"><em>{{currentItem.reorderPoint}}</em></dd>
        <dt class="col-sm-3 lead"><strong>Entry Date:</strong></dt>
        <dd class="col-sm-3"><em>{{currentItem.entryDate | date:'fullDate'}}</em></dd>
        <dt class="col-sm-3 lead"><strong>Departure Date:</strong></dt>
        <dd class="col-sm-3"><em>{{currentItem.departureDate | date:'fullDate'}}</em></dd>
        <dt class="col-sm-3 lead"><strong>Ultimate Value :</strong></dt>
        <dd class="col-sm-3"><em>{{currentItem.ultimateValue}}</em></dd>
      </dl>
    </div>
  </div>
</div>
<div *ngIf="!currentItem " class="container">
  <p>Please Select an Item</p>
</div>

