<h3 class="display-4 text-muted mb-4">Add a new Item</h3>
<button class="btn btn-secondary mb-5" routerLink="/item">
  <svg class="bi bi-arrow-left-circle" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
       xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path fill-rule="evenodd"
          d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
    <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
  </svg>
  Return to list
</button>
<div class="col-12 pl-5">

  <div class="form-group">
    <label for="name">Name</label>
    <input [(ngModel)]="itemDetails.name" class="form-control" type="text" id="name">
    <label for="description"> Description</label>
    <textarea [(ngModel)]="itemDetails.description" class="form-control" id="description"></textarea>
    <label for="brand">Brand</label>
    <input [(ngModel)]="itemDetails.brand" class="form-control" type="text" id="brand">

    <div>
      <label>Units</label>
      <select class="form-control" formControlName="unit">
        <option *ngFor="let m of Unit"
                [value]="m">
          {{m.name}}
        </option>
      </select>
    </div>
    <div>
      <label>Groups</label>
      <select class="form-control" formControlName="group">
        <option *ngFor="let m of Group"
                [value]="m">
          {{m.name}}
        </option>
      </select>
    </div>
    <div>
      <label>Locations</label>
      <select class="form-control" formControlName="location">
        <option *ngFor="let m of Location"
                [value]="m">
          {{m.aisle}}  {{m.rack}} {{m.shelf}}
        </option>
      </select>
    </div>
    <div>
      <label>Warehouses</label>
      <select class="form-control" formControlName="warehouse">
        <option *ngFor="let m of Warehouse"
                [value]="m">
          {{m.name}}
        </option>
      </select>
    </div>
    <label for="min">Min</label>
    <input [(ngModel)]="itemDetails.min" class="form-control" type="text" id="min">
    <label for="max">Max</label>
    <input [(ngModel)]="itemDetails.max" class="form-control" type="text" id="max">
    <label for="reorderPoint">Reorder Point</label>
    <input [(ngModel)]="itemDetails.reorderPoint" class="form-control" type="text" id="reorderPoint">
    <label for="entryDate"> Entry Date</label>
    <input [(ngModel)]="itemDetails.entryDate" class="form-control" type="date" id="entryDate"
           formControlName="entryDate">
    <label for="departureDate"> Departure Date</label>
    <input [(ngModel)]="itemDetails.departureDate" class="form-control" type="date" id="departureDate"
           formControlName="departureDate">
    <label for="ultimateValue">Ultimate Value</label>
    <input [(ngModel)]="itemDetails.ultimateValue" class="form-control" type="text" id="ultimateValue">
  </div>
  <button
    class="btn btn-primary"
    type="submit"
    (click)="submitItem()"
  >
    Add Item
  </button>
</div>
