<h3 class="display-4 text-muted mb-4">Edit a Unit</h3>
<button class="btn btn-secondary mb-5" routerLink="/unit">Return to list</button>
<div class="col-sm-9 pl-5">
  <form [formGroup]="updatedUnit" (ngSubmit)="updateUnit(unitDetails.id)">
    <div class="form-group">
      <label for="name">Unit Name</label>
      <input [(ngModel)]="unitDetails.name" class="form-control" type="text" id="name" formControlName="name">
    </div>
    <div class="btn-group">
      <button class="btn btn-success" type="submit">Update Unit</button>
      <button
        class="btn btn-danger"
        (click)="deleteUnit(unitDetails.id)"
        type="submit"
      >Delete Unit
      </button>
    </div>
  </form>
</div>
