<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home/Gabriel">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-clipboard-check" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
            <path fill-rule="evenodd"
                  d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zm4.354 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
          </svg>
          Inventory</a>
      </li>
    </ul>
    <div *ngIf="loginService.isUserLoggedIn()" class="dropdown dropleft">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor"
             xmlns="http://www.w3.org/2000/svg">
          <path
            d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
          <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
        </svg>
        Gabriel
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item">Action</a>
        <a class="dropdown-item">Another Action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" (click)="logout()">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-door-open-fill" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                  d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2v13h1V2.5a.5.5 0 0 0-.5-.5H11zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
          </svg>
          Logout</a>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row mt-lg-5">
    <nav *ngIf="loginService.isUserLoggedIn()" id="sidebarMenu"
         class=" col-lg-2 col-md-3 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li>
            <a class="nav-link list-group-item-action bg-light" routerLink="home/Gabriel">
              Home
            </a>
          </li>
          <li>
            <a class="nav-link list-group-item-action bg-light" routerLink="warehouse">
              Warehouses
            </a>
          </li>
          <li>
            <a class="nav-link list-group-item-action bg-light" routerLink="group">
              Groups
            </a>
          </li>
          <li>
            <a class="nav-link list-group-item-action bg-light" routerLink="unit">
              Units
            </a>
          </li>
          <li>
            <a class="nav-link list-group-item-action bg-light" routerLink="location">
              Locations
            </a>
          </li>
          <li>
            <a class="nav-link list-group-item-action bg-light" routerLink="movement-type">
              Movement Types
            </a>
          </li>
          <li>
            <a class="nav-link list-group-item-action bg-light" routerLink="item">
              Items
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex flex-wrap flex-md-nowrap pl-5 pt-4 pb-4 mb-3 ml-0 mr-5">

        <router-outlet></router-outlet>

      </div>
    </main>
  </div>

</div>





