<body>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Inventory</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid">
  <div class="row mt-lg-5">
    <nav id="sidebarMenu" class=" col-lg-2 col-md-3 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li>
            <a class="nav-link list-group-item-action bg-light" href="#">
              Home
            </a>
          </li>
          <li>
            <a class="nav-link list-group-item-action bg-light" href="warehouse">
              Warehouses
            </a>
          </li>
          <li>
            <a class="nav-link list-group-item-action bg-light" href="group">
              Groups
            </a>
          </li>
          <li >
            <a class="nav-link list-group-item-action bg-light" href="unit">
              Units
            </a>
          </li>
          <li>
            <a class="nav-link list-group-item-action bg-light" href="location">
              Locations
            </a>
          </li>
          <li>
            <a class="nav-link list-group-item-action bg-light" href="movement-type">
              Movement Types
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex flex-wrap flex-md-nowrap pl-5 pt-4 pb-4 mb-3 ml-0 mr-5">

        <router-outlet></router-outlet>

      </div>
    </main>
  </div>

</div>

</body>




