<body>
<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" routerLink="/home/Gabriel">
    <i-feather name="clipboard"></i-feather>
    Inventory
  </a>
  <!--  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse"-->
  <!--          data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">-->
  <!--    <span class="navbar-toggler-icon"></span>-->
  <!--  </button>-->
  <!--  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">-->
  <div *ngIf="loginService.isUserLoggedIn()" class="btn-group dropleft">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      <i-feather name="user"></i-feather>
      Gabriel
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item">Action</a>
      <a class="dropdown-item">Another Action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" (click)="logout()">
        <i-feather name="log-out"></i-feather>
        Logout</a>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav *ngIf="loginService.isUserLoggedIn()" id="sidebarMenu"
         class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="list" routerLink="/home/Gabriel">
              <i-feather name="home"></i-feather>
              Home <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="list" routerLink="/warehouse">
              <i-feather name="archive"></i-feather>
              Warehouses
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="list" routerLink="/group">
              <i-feather name="grid"></i-feather>
              Groups
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" routerLink="/unit">
              <i-feather name="layers"></i-feather>
              Units
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" routerLink="/location">
              <i-feather name="map-pin"></i-feather>
              Locations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" routerLink="/movement-type">
              <i-feather name="move"></i-feather>
              Movement Types
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" routerLink="/item">
              <i-feather name="package"></i-feather>
              Items
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" routerLink="/itc">
              <i-feather name="shopping-cart"></i-feather>
              Item List Cart
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="pill" routerLink="/test">
              <i-feather name="grid"></i-feather>
              Tests
            </a>
          </li>
        </ul>


      </div>
    </nav>
    <main role="main" class="ml-sm-auto col-lg-10">
      <div
        class="pt-3 pb-2 mb-3">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
</body>

