<div class="container">
  <h3 class="display-4 text-muted">Movement Headers</h3>
  <div class="row">
    <div class="container">
      <br>
      <button
        routerLink="/add-movement-header"
        class="btn btn-primary">
        Add a movement header.
      </button>
      <div class="container mt-lg-3">
        <div class="form-group">
          <input header="text" class="form-control" placeholder="Search ID, Date, Hour, total, DocType, or Numdoc Here" [(ngModel)]="term">
        </div>
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">dateMovHeader</th>
            <th scope="col">hourMovHeader</th>
            <th scope="col">total</th>
            <th scope="col">docType</th>
            <th scope="col">numDoc</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let movementHeader of movementHeaderList | filter:term">
            <td>
              {{movementHeader.id}}
            </td>
            <td>
              {{movementHeader.dateMovHeader}}
            </td>
            <td>
              {{movementHeader.hourMovHeader}}
            </td>
            <td>
              {{movementHeader.total}}
            </td>
            <td>
              {{movementHeader.docType}}
            </td>
            <td>
              {{movementHeader.numDoc}}
            </td>
            <td>
              <a routerLink="/edit-movement-header/{{movementHeader.id}}" class="btn btn-success">
                Edit
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




