<div class="container">
  <h3 class="display-4 text-muted">Units</h3>
  <div class="row">
    <div class="container">
      <br>
      <button
        routerLink="/add-unit"
        class="btn btn-primary">
        Add a unit.
      </button>
      <div class="container mt-lg-3">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search ID, or Name Here" [(ngModel)]="term">
        </div>
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let unit of unitList | paginate : {
                  itemsPerPage: pageSize,
                  currentPage: page,
                  totalItems: count
                };
                 let i = index"
              [class.active]="i == currentIndex" (click)="setActiveItem(unit, i)">
            <td>
              {{unit.id}}
            </td>
            <td>
              {{unit.name}}
            </td>
            <td>
              <a routerLink="/edit-unit/{{unit.id}}" class="btn btn-success">
                Edit
              </a>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="col-md-12">
          <div class="row">
            <pagination-controls
              previousLabel="Previous"
              nextLabel="Next"
              responsive="true"
              (pageChange)="handlePageChange($event)"
            ></pagination-controls>
            <div class="col-6">
              Items per Page:
              <select (change)="handlePageSizeChange($event)">
                <option *ngFor="let size of pageSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
