<div class="container">
  <h3 class="display-4 text-muted">Units</h3>
  <div class="row">
    <div class="container">
      <br>
      <button class="btn-btn-primary btn-outline-primary" >
        Add a unit.
      </button>
      <div class="container mt-lg-5">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let unit of unitList">
            <td>
              {{unit.id}}
            </td>
            <td>
              {{unit.name}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>




