<h3 class="display-4 text-muted mb-4">Update Item</h3>
<button class="btn btn-secondary mb-5" routerLink="/item">Return to list</button>
<div class="col-12 pl-5">
  <form [formGroup]="updatedItem" (ngSubmit)="updateItem(itemDetails.id)">
    <div class="form-group">
      <label for="name"> Name</label>
      <input [(ngModel)]="itemDetails.name" class="form-control" type="text" id="name" formControlName="name">
      <label for="description"> Description</label>
      <textarea [(ngModel)]="itemDetails.description" class="form-control" id="description" formControlName="description"></textarea>
      <label for="brand"> Brand</label>
      <input [(ngModel)]="itemDetails.brand" class="form-control" type="text" id="brand" formControlName="brand">
      <div>
        <label>Units</label>
        <select class="form-control" formControlName="unit">
          <option *ngFor="let m of unitList"
                  [value]="m">
            {{m.name}}
          </option>
        </select>
      </div>
      <div>
        <label>Groups</label>
        <select class="form-control" formControlName="group">
          <option *ngFor="let m of groupList"
                  [value]="m">
            {{m.name}}
          </option>
        </select>
      </div>
      <div>
        <label>Locations</label>
        <select class="form-control" formControlName="location">
          <option *ngFor="let m of locationList"
                  [value]="m">
            {{m.aisle}}  {{m.rack}} {{m.shelf}}
          </option>
        </select>
      </div>
      <div>
        <label>Warehouses</label>
        <select class="form-control" formControlName="warehouse">
          <option *ngFor="let m of warehouseList"
                  [value]="m">
            {{m.name}}
          </option>
        </select>
      </div>
      <label for="min"> Min</label>
      <input [(ngModel)]="itemDetails.min" class="form-control" type="text" id="min" formControlName="min">
      <label for="max"> Max</label>
      <input [(ngModel)]="itemDetails.max" class="form-control" type="text" id="max" formControlName="max">
      <label for="reorderPoint"> Reorder Point</label>
      <input [(ngModel)]="itemDetails.reorderPoint" class="form-control" type="text" id="reorderPoint" formControlName="reorderPoint">
      <!--      <label for="entryDate"> Entry Date</label>-->
      <!--      <input class="form-control" type="text" id="entryDate" formControlName="entryDate">-->
      <!--      <label for="departureDate"> Departure Date</label>-->
      <!--      <input class="form-control" type="text" id="departureDate" formControlName="departureDate">-->
      <label for="ultimateValue"> Ultimate Value</label>
      <input [(ngModel)]="itemDetails.ultimateValue" class="form-control" type="text" id="ultimateValue" formControlName="ultimateValue">
    </div>
    <div class="btn-group">
      <button class="btn btn-success" type="submit">Update Item</button>
      <button
        class="btn btn-danger"
        (click)="deleteItem(itemDetails.id)"
        type="submit"
      >Delete Item
      </button>
    </div>
  </form>
</div>
