<h3 class="display-4 text-muted mb-4">Add a new Location</h3>
<button class="btn btn-secondary mb-5" routerLink="/location">Return to list</button>
<div class="col-sm-9 pl-5">
    <div class="form-group">
      <label for="aisle">Location Aisle</label>
      <input [(ngModel)]="locationDetails.aisle" class= "form-control" type="text" id="aisle" >
      <label for="rack">Location Rack</label>
      <input [(ngModel)]="locationDetails.rack" class="form-control" type="text" id="rack" >
      <label for="shelf">Location Shelf</label>
      <input [(ngModel)]="locationDetails.shelf" class="form-control" type="text" id="shelf" >
    </div>
    <button class="btn btn-primary" type="submit" (click)="submitLocation(locationDetails)">Add Location</button>
</div>
