<div class="container">
  <h3 class="display-4 text-muted">Items</h3>
  <div class="row">
    <div class="container">
      <br>
      <div class="row">
        <div class="col-2">
          <button
            class="btn btn-primary"
            routerLink="/add-item"
          >
            Add a item.
          </button>
        </div>
        <div class="col-8">
          <form class=" my-2 my-lg-0">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </div>
      <div class="container mt-lg-5">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of itemList">
            <td>
              <a [routerLink]="['/item-details', item.id]" (click)="reload()">{{item.id}}</a>
            </td>
            <td>
              {{item.name}}
            </td>
            <td>
              {{item.description}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <br>
      <h3>Details of the Item</h3>
      <br>
      <div class="col-12 pl-5">
        <div class="container border border-dark">
          <dl class="row">
            <dt class="col-sm-3">Name:</dt>
            <dd class="col-sm-9">{{itemDetails.name}}</dd>
            <dt class="col-sm-3">Description:</dt>
            <dd class="col-sm-9">{{itemDetails.description}}</dd>
            <dt class="col-sm-3">Brand:</dt>
            <dd class="col-sm-9">{{itemDetails.brand}}</dd>
            <dt class="col-sm-3">Unit:</dt>
            <dd class="col-sm-9">{{itemDetails.unit}}</dd>
            <dt class="col-sm-3">Group:</dt>
            <dd class="col-sm-9">{{itemDetails.group}}</dd>
            <dt class="col-sm-3">Location:</dt>
            <dd class="col-sm-9">{{itemDetails.location}}</dd>
            <dt class="col-sm-3">Warehouse:</dt>
            <dd class="col-sm-9">{{itemDetails.warehouse}}</dd>
            <dt class="col-sm-3">Min:</dt>
            <dd class="col-sm-9">{{itemDetails.min}}</dd>
            <dt class="col-sm-3">Max:</dt>
            <dd class="col-sm-9">{{itemDetails.max}}</dd>
            <dt class="col-sm-3">Reorder Point:</dt>
            <dd class="col-sm-9">{{itemDetails.reorderPoint}}</dd>
            <dt class="col-sm-3">Entry Date:</dt>
            <dd class="col-sm-9">{{itemDetails.entryDate | date:'fullDate'}}</dd>
            <dt class="col-sm-3">Departure Date:</dt>
            <dd class="col-sm-9">{{itemDetails.departureDate | date:'fullDate'}}</dd>
            <dt class="col-sm-3">Ultimate Value :</dt>
            <dd class="col-sm-9">{{itemDetails.ultimateValue}}</dd>
          </dl>
        </div>
      </div>
      <br>
      <div class="container">
        <button routerLink="/item-edit/{{itemDetails.id}}" class="btn btn-success">Edit</button>
      </div>
    </div>
  </div>
</div>




