<h3 class="display-4 text-muted mb-4">Edit a Group</h3>
<button class="btn btn-secondary mb-5" routerLink="/group">Return to list</button>
<div class="col-sm-9 pl-5">
  <form [formGroup]="updatedGroup" (ngSubmit)="updateGroup()">
    <div class="form-group">
      <label for="name">Group Name</label>
      <input [(ngModel)]="groupDetails.name" class="form-control" type="text" id="name" formControlName="name">
    </div>
    <div class="btn-group">
      <button class="btn btn-success" type="submit">Update Group</button>
      <button
        class="btn btn-danger"
        (click)="deleteGroup(groupDetails.id)"
        type="submit"
      >Delete Group
      </button>
    </div>
  </form>
</div>
