<h3 class="display-4 text-muted mb-4">Add a new Unit</h3>
<button class="btn btn-secondary mb-5" routerLink="/unit">Return to list</button>
<div class="col-sm-9 pl-5">
  <form [formGroup]="newUnit" (ngSubmit)="submitUnit()">
    <div class="form-group">
      <label for="name">Unit Name</label>
      <input
        required
        minlength="4"
        class="form-control"
        type="text"
        id="name"
        formControlName="name"
        [class.is-invalid]="name.invalid && (name.dirty || name.touched)"
      >
      <div *ngIf="(name.invalid && name.touched) || name.dirty">
        <small *ngIf="name.errors?.required" class="text-danger">Name is required.</small>
        <small *ngIf="name.errors?.minlength" class="text-danger">Name must be at least 4 characters long.</small>
      </div>
      <br>
      <button class="btn btn-primary" type="submit">Add Unit</button>
    </div>
  </form>
</div>
