<h3 class="display-4 text-muted mb-4">Edit a Item</h3>
<button class="btn btn-secondary mb-5" routerLink="/item">
  <svg class="bi bi-arrow-left-circle" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
       xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path fill-rule="evenodd"
          d="M8.354 11.354a.5.5 0 0 0 0-.708L5.707 8l2.647-2.646a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708 0z"/>
    <path fill-rule="evenodd" d="M11.5 8a.5.5 0 0 0-.5-.5H6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 .5-.5z"/>
  </svg>
  Return to list
</button>
<div class="col-12 pl-5">

  <div class="container border border-dark">
    <div class="row">
      <div class="col">
        <p>Name: {{itemData.name}}</p>
        <p>Description: {{itemData.description}}</p>
        <p>Brand: {{itemData.brand}}</p>
        <p>Unit: {{itemData.unit}}</p>
        <p>Group: {{itemData.group}}</p>
        <p>Location: {{itemData.location}}</p>
        <p>Warehouse: {{itemData.warehouse}}</p>
      </div>
      <div class="col">
        <p>Min: {{itemData.min}}</p>
        <p>Max: {{itemData.max}}</p>
        <p>Reorder Point: {{itemData.reorderPoint}}</p>
        <p>Entry Date: {{itemData.entryDate | date:'fullDate'}}</p>
        <p>Departure Date: {{itemData.departureDate | date:'fullDate'}}</p>
        <p>Ultimate Value : {{itemData.ultimateValue}}</p>
      </div>
    </div>
  </div>

  <div class="btn form-group">
    <button
      class="btn btn-success"
      type="submit"
      (click)="updateItem()"
    >
      Update Item
    </button>
    |
    <button
      class="btn btn-danger"
      (click)="deleteItem(itemData.id)"
      type="submit"
    >Delete Item
    </button>
  </div>
</div>
