<h3 class="display-4 text-muted mb-4">Edit a Warehouse</h3>
<button class="btn btn-secondary mb-5" routerLink="/warehouse">Return to list</button>
<div class="col-sm-9 pl-5">

    <div class="form-group">
      <label for="name">Warehouse Name</label>
      <input [(ngModel)]="warehouseData.name" class="form-control" type="text" id="name">
    </div>
    <div class="btn-group form-group">
      <button
        class="btn btn-success"
        type="submit"
      (click)="updateWarehouse()"
      >
        Update Warehouse
      </button>

      <button
        class="btn btn-danger"
        (click)="deleteWarehouse(warehouseData.id)"
        type="submit"
      >Delete Warehouse
      </button>
    </div>

</div>
