<h3 class="display-4 text-muted mb-4">Add a new Movement Header</h3>
<button class="btn btn-secondary mb-5" routerLink="/movement-header">Return to list</button>
<div class="col-sm-9 pl-5">
  <form [formGroup]="newMovementHeader" (ngSubmit)="submitMovementHeader()">
    <div class="form-group">
      <label for="name">Movement Header Name</label>
      <input
        required
        minlength="4"
        class="form-control"
        header="text"
        id="name"
        formControlName="name"
        [class.is-invalid]="total.invalid && (total.dirty || total.touched)"
      >
      <div *ngIf="total.errors?.required" class="invalid-feedback">Name is required.</div>
      <div *ngIf="total.errors?.minlength" class="invalid-feedback ">Name must be at least 4 characters long.</div>
      <br>
      <button class="btn btn-primary" header="submit">Add Movement Header</button>
    </div>
  </form>
</div>
