<h3 class="display-4 text-muted mb-4">Add a new Movement Type</h3>
<button class="btn btn-secondary mb-5" routerLink="/movement-type">Return to list</button>
<div class="col-sm-9 pl-5">
  <form [formGroup]="newMovementType" (ngSubmit)="submitMovementType()">
    <div class="form-group">
      <label for="name">Movement Type Name</label>
      <input
        required
        minlength="4"
        class="form-control"
        type="text"
        id="name"
        formControlName="name"
        [class.is-invalid]="name.invalid && (name.dirty || name.touched)"
      >
      <div *ngIf="name.errors?.required" class="invalid-feedback">Name is required.</div>
      <div *ngIf="name.errors?.minlength" class="invalid-feedback ">Name must be at least 4 characters long.</div>
      <br>
      <button class="btn btn-primary" type="submit">Add Movement Type</button>
    </div>
  </form>
</div>
