<div class="card">
  <h3 class="card-header">Details of the Item</h3>
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3 lead"><strong>Name:</strong></dt>
      <dd class="col-sm-3"><em>{{itemDetails.name}}</em></dd>
      <dt class="col-sm-3 lead"><strong>Description:</strong></dt>
      <dd class="col-sm-3"><em>{{itemDetails.description}}</em></dd>
      <dt class="col-sm-3 lead"><strong>Brand:</strong></dt>
      <dd class="col-sm-3"><em>{{itemDetails.brand}}</em></dd>
      <dt class="col-sm-3 lead"><strong>Unit:</strong></dt>
      <dd class="col-sm-3"><em>{{itemDetails.unit}}</em></dd>
      <dt class="col-sm-3 lead"><strong>Group:</strong></dt>
      <dd class="col-sm-3"><em>{{itemDetails.group}}</em></dd>
      <dt class="col-sm-3 lead"><strong>Location:</strong></dt>
      <dd class="col-sm-3"><em>{{itemDetails.location}}</em></dd>
      <dt class="col-sm-3 lead"><strong>Warehouse:</strong></dt>
      <dd class="col-sm-3"><em>{{itemDetails.warehouse}}</em></dd>
      <dt class="col-sm-3 lead"><strong>Min:</strong></dt>
      <dd class="col-sm-3"><em>{{itemDetails.min}}</em></dd>
      <dt class="col-sm-3 lead"><strong>Max:</strong></dt>
      <dd class="col-sm-3"><em>{{itemDetails.max}}</em></dd>
      <dt class="col-sm-3 lead"><strong>Reorder Point:</strong></dt>
      <dd class="col-sm-3"><em>{{itemDetails.reorderPoint}}</em></dd>
      <dt class="col-sm-3 lead"><strong>Entry Date:</strong></dt>
      <dd class="col-sm-3"><em>{{itemDetails.entryDate | date:'fullDate'}}</em></dd>
      <dt class="col-sm-3 lead"><strong>Departure Date:</strong></dt>
      <dd class="col-sm-3"><em>{{itemDetails.departureDate | date:'fullDate'}}</em></dd>
      <dt class="col-sm-3 lead"><strong>Ultimate Value :</strong></dt>
      <dd class="col-sm-3"><em>{{itemDetails.ultimateValue}}</em></dd>
    </dl>
  </div>
</div>
